In [3]:
import pandas as pd

In [ ]:
import os
os.chdir("..")

In [14]:
df= pd.read_csv("data/raw/oasis-cross-sectional.csv")

In [15]:
df.head()

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
0,OAS1_0001_MR1,F,R,74,2.0,3.0,29.0,0.0,1344,0.743,1.306,NaN
1,OAS1_0002_MR1,F,R,55,4.0,1.0,29.0,0.0,1147,0.810,1.531,NaN
2,OAS1_0003_MR1,F,R,73,4.0,3.0,27.0,0.5,1454,0.708,1.207,NaN
3,OAS1_0004_MR1,M,R,28,NaN,NaN,NaN,NaN,1588,0.803,1.105,NaN
4,OAS1_0005_MR1,M,R,18,NaN,NaN,NaN,NaN,1737,0.848,1.010,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      436 non-null    object
 1   M/F     436 non-null    object
 2   Hand    436 non-null    object
 3   Age     436 non-null    int64
 4   Educ    235 non-null    float64
 5   SES     216 non-null    float64
 6   MMSE    235 non-null    float64
 7   CDR     235 non-null    float64
 8   eTIV    436 non-null    int64
 9   nWBV    436 non-null    float64
 10  ASF     436 non-null    float64
 11  Delay   20 non-null     float64
dtypes: float64(7), int64(2), object(3)
memory usage: 41.0+ KB

In [17]:
df.describe()

,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
count,436.000000,235.000000,216.000000,235.00000,235.000000,436.000000,436.000000,436.000000,20.00000
mean,51.357798,3.178723,2.490741,27.06383,0.285106,1481.919725,0.791670,1.198894,20.55000
std,25.269862,1.311510,1.120593,3.69687,0.383405,158.740866,0.059937,0.128682,23.86249
min,18.000000,1.000000,1.000000,14.00000,0.000000,1123.000000,0.644000,0.881000,1.00000
25%,23.000000,2.000000,2.000000,26.00000,0.000000,1367.750000,0.742750,1.111750,2.75000
50%,54.000000,3.000000,2.000000,29.00000,0.000000,1475.500000,0.809000,1.190000,11.00000
75%,74.000000,4.000000,3.000000,30.00000,0.500000,1579.250000,0.842000,1.284250,30.75000
max,96.000000,5.000000,5.000000,30.00000,2.000000,1992.000000,0.893000,1.563000,89.00000

In [19]:
df.columns
df.isna().sum()

ID         0
M/F        0
Hand       0
Age        0
Educ     201
SES      220
MMSE     201
CDR      201
eTIV       0
nWBV       0
ASF        0
Delay    416
dtype: int64

In [20]:
patient_status_record = []

In [44]:
data_dir = "data/raw/images"
classes = ["NonDemented", "MildDemented", "ModerateDemented", "VeryMildDemented"]

In [48]:
for label in classes:
    folder_path = os.path.join(data_dir, label)
    for filename in os.listdir(folder_path):
        if (filename.endswith(".png")):
            patient_ID =filename.split("_MR")[0]
            fullpath = os.path.join(folder_path, filename)
            patient_status_record.append({
                "patient_ID" : patient_ID,
                "image_path" : fullpath,
                "diagnonsis" : label
            })

print(f" Total d’images collectées : {len(df_images)}")
df_images.head()

 Total d’images collectées : 165832

,patient_ID,image_path,diagnonses,diagnosis
0,OAS1_0368,data/raw/images/NonDemented/OAS1_0368_MR1_2.ni...,NonDemented,NaN
1,OAS1_0214,data/raw/images/NonDemented/OAS1_0214_MR1_1.ni...,NonDemented,NaN
2,OAS1_0018,data/raw/images/NonDemented/OAS1_0018_MR1_3.ni...,NonDemented,NaN
3,OAS1_0051,data/raw/images/NonDemented/OAS1_0051_MR1_1.ni...,NonDemented,NaN
4,OAS1_0302,data/raw/images/NonDemented/OAS1_0302_MR1_2.ni...,NonDemented,NaN

In [52]:
df_images.head()

  patient_ID                                         image_path   diagnonses
0  OAS1_0368  data/raw/images/NonDemented/OAS1_0368_MR1_2.ni...  NonDemented
1  OAS1_0214  data/raw/images/NonDemented/OAS1_0214_MR1_1.ni...  NonDemented
2  OAS1_0018  data/raw/images/NonDemented/OAS1_0018_MR1_3.ni...  NonDemented
3  OAS1_0051  data/raw/images/NonDemented/OAS1_0051_MR1_1.ni...  NonDemented
4  OAS1_0302  data/raw/images/NonDemented/OAS1_0302_MR1_2.ni...  NonDemented

In [56]:
df_merged = pd.merge(df_images,df, left_on="patient_ID", right_on="ID", how="inner")
print("Taille fusionnée : ", df_merged.shape)

Taille fusionnée :  (181042, 15)

In [57]:
df["ID"] = df["ID"].str.split("_MR").str[0]

In [58]:
df_merged.head()

,patient_ID,image_path,diagnonses,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
0,OAS1_0368,data/raw/images/NonDemented/OAS1_0368_MR1_2.ni...,NonDemented,OAS1_0368,M,R,22,NaN,NaN,NaN,NaN,1572,0.856,1.116,NaN
1,OAS1_0368,data/raw/images/NonDemented/OAS1_0368_MR1_2.ni...,NonDemented,OAS1_0368,M,R,22,NaN,NaN,NaN,NaN,1580,0.856,1.111,89.0
2,OAS1_0214,data/raw/images/NonDemented/OAS1_0214_MR1_1.ni...,NonDemented,OAS1_0214,M,R,18,NaN,NaN,NaN,NaN,1854,0.870,0.947,NaN
3,OAS1_0018,data/raw/images/NonDemented/OAS1_0018_MR1_3.ni...,NonDemented,OAS1_0018,M,R,39,3.0,4.0,28.0,0.0,1636,0.813,1.073,NaN
4,OAS1_0051,data/raw/images/NonDemented/OAS1_0051_MR1_1.ni...,NonDemented,OAS1_0051,F,R,24,NaN,NaN,NaN,NaN,1567,0.835,1.120,NaN